doctype html 
html
  head
    title Dance website
    block scripts
    block style 
        
  body
    nav#navbar
        ul 
            div#logo 
                img(src='/static/img/dlogo.png')
            li #[a(href="/") Home] 
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Schedule] 
            li #[a(href="/contact") Contact Us] 

    block content
        
    footer#footer 
        | Copyright &copy; 2021 www.NatrajDanceAcademy.com | All rights reserved    
        